*{
    font-family: sans-serif;
}
.container {
    width: 1280px;
    margin: 0 auto;
}

.container-header{
    padding: 60px 0px;
}

.title{
    display: inline-block;
    font-size: 80px;
    text-decoration: none;
    color: #000;
    margin-bottom: 50px;
}

.title-color{
    color: #00bfff;
}

.top-navigation{
    display: inline-block;
    width: 100%;
    font-size: 24px;
    background: #35444f;
    text-align: center;
    border: 1px solid black;
    padding: 25px 0;
}

.top-navigation-text{
    text-decoration: none;
    color: white;
    border: 1px solid black;
    padding: 24px 35px;
}

.middle-navigation{
    display: inline-block;
    width: 350px;
    border: 1px solid grey;
    vertical-align: top;
}

.middle-navigation-list{
    font-size: 26px;
    padding: 25px 40px;
}

.middle-navigation-text{
    text-decoration: none;
    color: #485863;
}

.main-content{
    display: inline-block;
    width: 885px;
    vertical-align: top;
    margin-left: 36px;
}
.main-content-img{
    border: 1px solid black;
    padding: 75px 270px 75px 295px;
}

.main-img{
    width: 320px;
}

.main-text{
    font-size: 18px;
    line-height: 1.5;
    margin: 40px 0;
}

.background{
    background: grey;
    padding: 25px 0px;
    margin-bottom: 15px;
}
.footer-container{
    display: inline-block;
    font-size: 28px;
    padding: 0 25px;
}

.bottom-navigation{
    display: inline-block;
    text-decoration: none;
    color: #000;
    padding: 0px 15px;
}

.copyright{
    display: inline-block;
    font-size: 24px;
    margin-left: 95px;