.container {
    width: 1027px;
    margin: 0 auto;
}

.header-container{
    padding-top: 56px;
}

.background{
    background: grey url("../background.png");
    background-size:100%;
}

.left-header-contant{
    float: left;
}

.left-header-contant:hover .logo-img{
    content: url("../logo-home-orange.png");
}

.left-header-contant:hover .logo-text{
    color:#F26522;
}

.logo-info{
    text-transform: uppercase;

}

.logo-img{
    width: 100%;
}

.logo-wrapper{
    width: 53px;
    display: inline-block;
}
.logo-text{
    color: white;
    display: inline-block;
    margin-left: 5px;
}

.logo-text-big{
    font-size: 29px;
}

.logo-text-little{
    font-size: 18px;
    margin-top: 8px;
}

.right-header-contant{
    float: right;
}

.logo-email{
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.logo-email:hover{
    color: #F26522;
}

.logo-phone-number:hover{
    color: #F26522;
}

.logo-phone-number{
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: white;
    margin-top: 8px;
}

.tour-gallery{
    padding-top: 27px;
}

.tour-gallery-item{
    text-decoration: none;
    float: left;
    width: calc(100% / 3 - 42px);
    display: inline-block;
    margin-right: 63px;
}

.tour-item-wrapper {
    height: 220px;
}

.shopping-photo{
    background-image: url(../main-shopping.png);
}

.sightseeing-photo{
    background-image: url(../main-sightseeing.png);
}

.food-photo{
    background-image: url(../main-food.png);
}

.bar-photo{
    background-image: url(../main-bars.png);
}

.art-photo{
    background-image: url(../main-art.png);
}

.wallking-photo{
    background-image: url(../main-walking.png);
}

.tour-gallery-item:nth-child(3n){
    margin-right: 0;
}

.tour-gallery-item:hover .details{
    opacity: 1;
}

.tour-gallery-item:hover .tour-item-text{
    color: #F26522;
}

.details{
    width: 300px;
    background-color: #F26522;
    box-sizing: border-box;
    padding: 10px;
    display: inline-block;
    margin-top: 171px;
    opacity: 0;

}

.details-price{
    float: left;
    font-size: 20px;
    color: white;
}

.details-price::before{
   content: "from";
    color: white;
    font-size: 10px;
    margin-right: 5px;
    display: block;

}

.details-link{
    float: right;
    font-size: 14px;
    color: white;
    padding-top: 10px;
}

.details-link::after{
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border: 2px solid transparent;
    border-top-color: white;
    border-right-color: white;
    transform: rotate(45deg);
    margin-left: 10px;
}

.tour-item-text{
    text-align: center;
    font-size: 18px;
    color: white;
    padding-top: 17px;
    margin-bottom: 42px;
}

.footer-contant{
    text-align: center;
    font-size: 12px;
    color: white;
}

.footer-container{
    padding-bottom: 15px;
}



.clearfix::after {
    content: '';
    display: block;
    clear: both;
}